<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Debitum 2</title>
  </head>
  <body>
    <div id="app"></div>
    <% if (process.env.NODE_ENV === 'production') { %>
      <% for (file of assets.js) { %>
        <script type="module" src="/<%= file %>"></script>
      <% } %>
    <% } else { %>
      <script type="module" src="http://localhost:3000/src/main.js"></script>
    <% } %>
  </body>
</html>
